@font-face {
  font-family: 'MCB';
  font-style: normal;
  src: url('/font/MapleMono-Bold.ttf');
}
.font-mno {
  font-family: MCB;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: #eee;
}
/* chrome - slider 滑块样式 */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  background: #7D5;
  border-radius: 50%;
  border: none;
}
markdown-body*, :before,:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor
}
::selection {
  background: #1DB954;
  color: #fff;
  -webkit-text-fill-color: lightcyan;
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  overflow: scroll;
}

body {
  line-height: inherit;
}

html, body, #app {
  margin: 0;
  padding: 0;
}

.text-linear {
  letter-spacing: 1px;
  font-feature-settings: "ss02", "ss01";
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(71.18deg, rgb(0, 34, 255) -27.32%, rgb(0, 34, 255) -16.39%, rgb(81, 121, 254) -7.38%, rgb(53, 172, 62) 62.61%, rgb(55, 192, 130) 75.82%);
}

html.dark .text-linear {
  letter-spacing: 1px;
  font-feature-settings: "ss02", "ss01";
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(71.18deg, rgb(0, 34, 255) -27.32%, rgb(0, 34, 255) -16.39%, rgb(81, 121, 254) -7.38%, rgb(165, 237, 182) 30.59%, rgb(250, 232, 90) 46.06%, rgb(253, 172, 62) 62.61%, rgb(255, 92, 0) 75.82%);
}


html.dark {
  --c-bg: #050505;
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222
}

.list-title li a {
  text-decoration: none;
  border-bottom: 1px solid rgba(125, 125, 125, .6);
  transition: all 0.2s ease-in-out;
}

.list-title li a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

html.dark .list-title li a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px
}

abbr:where([title]) {
  text-decoration: underline dotted
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit
}

a {
  color: inherit;
  text-decoration: inherit
}

b, strong {
  font-weight: bolder
}

code, kbd, samp, pre {
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  font-size: 1em
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0
}

button, select {
  text-transform: none
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button {
  height: auto
}

blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre {
  margin: 0
}

fieldset {
  margin: 0;
  padding: 0
}

legend {
  padding: 0
}

ol,ul,menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

button, [role=button] {
  cursor: pointer;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

:root {
  --c-bg: #fff;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
  --prism-scheme: light;
  --prism-foreground: #6e6e6e;
  --prism-background: #f6f8fa;
  --prism-comment: #a8a8a8;
  --prism-string: #555555;
  --prism-literal: #333333;
  --prism-keyword: #000000;
  --prism-function: #4f4f4f;
  --prism-deleted: #333333;
  --prism-class: #333333;
  --prism-builtin: #757575;
  --prism-property: #333333;
  --prism-namespace: #4f4f4f;
  --prism-punctuation: #ababab;
  --prism-decorator: var(--prism-class);
  --prism-operator: var(--prism-punctuation);
  --prism-number: var(--prism-literal);
  --prism-boolean: var(--prism-literal);
  --prism-variable: var(--prism-literal);
  --prism-constant: var(--prism-literal);
  --prism-symbol: var(--prism-literal);
  --prism-interpolation: var(--prism-literal);
  --prism-selector: var(--prism-keyword);
  --prism-keyword-control: var(--prism-keyword);
  --prism-regex: var(--prism-string);
  --prism-json-property: var(--prism-property);
  --prism-inline-background: var(--prism-background);
  --prism-comment-style: italic;
  --prism-url-decoration: underline;
  --prism-line-number: #a5a5a5;
  --prism-line-number-gutter: #333333;
  --prism-line-highlight-background: #eeeeee;
  --prism-selection-background: #aaaaaa;
  --prism-marker-color: var(--prism-foreground);
  --prism-marker-opacity: .4;
  --prism-marker-font-size: .8em;
  --prism-font-size: 1em;
  --prism-line-height: 1.5em;
  --prism-font-family: "Fria Code", monospace;
  --prism-inline-font-size: var(--prism-font-size);
  --prism-block-font-size: var(--prism-font-size);
  --prism-tab-size: 2;
  --prism-block-padding-x: 1em;
  --prism-block-padding-y: 1em;
  --prism-block-margin-x: 0;
  --prism-block-margin-y: .5em;
  --prism-block-radius: .3em;
  --prism-inline-padding-x: .3em;
  --prism-inline-padding-y: .1em;
  --prism-inline-radius: .3em;
}

#nprogress {
  pointer-events: none
}

#nprogress .bar {
  background: #395;
  opacity: .75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px
}

* {
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
}

.sponsorkit-avatar {
  cursor: pointer;
}

.sponsorkit-tier-title {
  font-weight: 600;
  font-size: 20px;
  fill: currentColor
}

.sponsorkit-name {
  font-weight: 300;
  font-size: 15px;
  transform: translateY(8px);
}

::-webkit-scrollbar {
  width: 6px
}

::-webkit-scrollbar:horizontal {
  height: 6px
}

::-webkit-scrollbar-track,::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px
}

::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}

h2+p>em:first-child {
  opacity: .5;
  display: block;
  margin-top: -20px;
  font-size: .9em
}

.dark [img-light] {
  display: none;
}

html:not(.dark) [img-dark] {
  display: none;
}

.markdown-body {
  /* width: 45vw; */
  /* height: 100%; */
  text-align: left;
  margin: 0 auto;
  color: var(--fg);
  max-width: 70ch;
  font-size: 1rem;
  line-height: 1.75;
  font-family: MCB;
}

.markdown-body [class~=lead] {
  color: #4b5563;
  font-size: 1.25em;
  line-height: 1.6;
  margin-top: 1.2em;
  margin-bottom: 1.2em
}

.markdown-body a {
  color: var(--fg-deeper);
  text-decoration: none;
  font-weight: 500;
}

.markdown-body strong {
  color: var(--fg-deep);
  font-weight: 600
}

.markdown-body ol[type=A] {
  --list-counter-style: upper-alpha
}

.markdown-body ol[type=a] {
  --list-counter-style: lower-alpha
}

.markdown-body ol[type="A s"] {
  --list-counter-style: upper-alpha
}

.markdown-body ol[type="a s"] {
  --list-counter-style: lower-alpha
}

.markdown-body ol[type=I] {
  --list-counter-style: upper-roman
}

.markdown-body ol[type=i] {
  --list-counter-style: lower-roman
}

.markdown-body ol[type="I s"] {
  --list-counter-style: upper-roman
}

.markdown-body ol[type="i s"] {
  --list-counter-style: lower-roman
}

.markdown-body ol[type="1"] {
  --list-counter-style: decimal
}

.markdown-body ol > li {
  position: relative;
  padding-left: 1.75em
}

.markdown-body ol > li:before {
  content: counter(list-item,var(--list-counter-style, decimal)) ".";
  position: absolute;
  font-weight: 400;
  color: #6b7280;
  left: 0
}

.markdown-body ul {
  padding-left: 1rem;
}
.markdown-body ul > li {
  position: relative;
  padding-left: 1.75em
}

.markdown-body ul > li:before {
  content: "";
  position: absolute;
  background-color: #d1d5db;
  border-radius: 50%;
  width: .375em;
  height: .375em;
  top: .6875em;
  left: .25em
}

.markdown-body hr {
  border-color: #7d7d7d4d;
  margin-top: 3em;
  margin-bottom: 3em
}

.markdown-body blockquote {
  font-weight: 500;
  font-style: italic;
  color: inherit;
  border-left-width: .25rem;
  border-color: #7d7d7d4d;
  quotes: "\201c""\201d""\2018""\2019";
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em
}

.markdown-body blockquote p:first-of-type:before {
  content: open-quote
}

.markdown-body blockquote p:last-of-type:after {
  content: close-quote
}

.markdown-body h1 {
  color: var(--fg-deeper);
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: .8888889em;
  line-height: 1.1111111
}

.markdown-body h2 {
  color: var(--fg-deep);
  font-weight: 700;
  font-size: 1.5em;
  margin: 1em 0; 
  line-height: 1.3333333
}

.markdown-body h3 {
  color: inherit;
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: .6em;
  line-height: 1.6
}

.markdown-body h4 {
  color: inherit;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: .5em;
  line-height: 1.5
}

.markdown-body figure figcaption {
  color: #6b7280;
  font-size: .875em;
  line-height: 1.4285714;
  margin-top: .8571429em
}

.markdown-body code {
  color: var(--fg-deep);
  background: none;
  font-weight: 600;
  font-size: .875em;
}

.markdown-body code:before {
  content: "`";
}

.markdown-body code:after {
  content: "`";
}

.markdown-body pre {
  color: #e5e7eb;
  background-color: #1f2937;
  overflow-x: auto;
  font-size: .875em;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: .375rem;
  padding: .8571429em 1.1428571em
}

.markdown-body pre code {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: 400;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit
}

.markdown-body pre code:before {
  content: none
}

.markdown-body pre code:after {
  content: none
}

.markdown-body table {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: .875em;
  line-height: 1.7142857
}

.markdown-body thead {
  color: #111827;
  font-weight: 600;
  border-bottom-width: 1px;
  border-bottom-color: #d1d5db
}

.markdown-body thead th {
  vertical-align: bottom;
  padding-right: .5714286em;
  padding-bottom: .5714286em;
  padding-left: .5714286em
}

.markdown-body tbody tr {
  border-bottom-width: 1px;
  border-bottom-color: #e5e7eb
}

.markdown-body tbody tr:last-child {
  border-bottom-width: 0
}

.markdown-body tbody td {
  vertical-align: top;
  padding: .5714286em
}

.markdown-body p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.markdown-body img {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose video {
  margin-top: 2em;
  margin-bottom: 2em
}

.prose figure {
  margin-top: 2em;
  margin-bottom: 2em
}

.prose figure>* {
  margin-top: 0;
  margin-bottom: 0
}

.prose h2 code {
  font-size: .875em
}

.prose h3 code {
  font-size: .9em
}

.prose ol, .prose ul {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  list-style-type: none
}

.prose li {
  margin-top: .5em;
  margin-bottom: .5em
}

.prose>ul>li p {
  margin-top: .75em;
  margin-bottom: .75em
}

.prose>ol>li>*:first-child {
  margin-top: 1.25em
}

.prose>ol>li>*:last-child {
  margin-bottom: 1.25em
}

.prose ul ul,.prose ul ol,.prose ol ul,.prose ol ol {
  margin-top: .75em;
  margin-bottom: .75em
}

.prose hr+* {
  margin-top: 0
}

.prose h2+* {
  margin-top: 0
}

.prose h3+* {
  margin-top: 0
}

.prose h4+* {
  margin-top: 0
}

.prose h6 {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  opacity: .5;
  font-weight: 500;
  letter-spacing: 2px
}

.prose thead th:first-child {
  padding-left: 0
}

.prose thead th:last-child {
  padding-right: 0
}

.prose tbody td:first-child {
  padding-left: 0
}

.prose tbody td:last-child {
  padding-right: 0
}

.prose>:first-child {
  margin-top: 0
}

.prose b {
  color: var(--fg-deep)
}

div[class*=language-],pre[class*=language-],code[class*=language-] {
  font-size: var(--prism-font-size);
  font-family: var(--prism-font-family);
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: var(--prism-line-height);
  -moz-tab-size: var(--prism-tab-size);
  -o-tab-size: var(--prism-tab-size);
  tab-size: var(--prism-tab-size);
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  color: var(--prism-foreground) !important
}

div[class*=language-],pre[class*=language-] {
  font-size: var(--prism-block-font-size);
  padding: var(--prism-block-padding-y) var(--prism-block-padding-x);
  margin: var(--prism-block-margin-y) var(--prism-block-margin-x);
  border-radius: var(--prism-block-radius);
  overflow: auto;
  background: var(--prism-background);
}

:not(pre)>code[class*=language-] {
  font-size: var(--prism-inline-font-size);
  padding: var(--prism-inline-padding-y) var(--prism-inline-padding-x);
  border-radius: var(--prism-inline-radius);
  background: var(--prism-inline-background)
}

pre[class*=language-]::-moz-selection,pre[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection,code[class*=language-] ::-moz-selection {
  background: var(--prism-selection-background)
}

pre[class*=language-]::selection,pre[class*=language-] ::selection,code[class*=language-]::selection,code[class*=language-] ::selection {
  background: var(--prism-selection-background)
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: var(--prism-comment);
  font-style: var(--prism-comment-style);
}

.token.namespace {
  color: var(--prism-namespace)
}

.token.interpolation {
  color: var(--prism-interpolation)
}

.token.string {
  color: var(--prism-string)
}

.token.punctuation {
  color: var(--prism-punctuation)
}

.token.operator {
  color: var(--prism-operator)
}

.token.keyword.module,.token.keyword.control-flow {
  color: var(--prism-keyword-control)
}

.token.url,.token.symbol,.token.inserted {
  color: var(--prism-symbol)
}

.token.constant {
  color: var(--prism-constant)
}

.token.string.url {
  text-decoration: var(--prism-url-decoration)
}

.token.boolean,.language-json .token.boolean {
  color: var(--prism-boolean)
}

.token.number,.language-json .token.number {
  color: var(--prism-number)
}

.token.variable {
  color: var(--prism-variable)
}

.token.keyword {
  color: var(--prism-keyword)
}

.token.atrule,.token.attr-value,.token.selector {
  color: var(--prism-selector)
}

.token.function {
  color: var(--prism-function)
}

.token.deleted {
  color: var(--prism-deleted)
}

.token.important,.token.bold {
  font-weight: 700
}

.token.italic {
  font-style: italic
}

.token.class-name {
  color: var(--prism-class)
}

.token.tag,.token.builtin {
  color: var(--prism-builtin)
}

.token.attr-name,.token.property,.token.entity {
  color: var(--prism-property)
}

.language-json .token.property {
  color: var(--prism-json-property)
}

.token.regex {
  color: var(--prism-regex)
}

.token.decorator,.token.annotation {
  color: var(--prism-decorator)
}

.line-numbers .line-numbers-rows {
  border-right-color: var(--prism-line-number)
}

.line-numbers-rows>span:before {
  color: var(--prism-line-number-gutter)
}

.line-highlight {
  background: var(--prism-line-highlight-background)
}

html:not(.dark) {
  --prism-foreground: #393a34;
  --prism-background: #f6f8fa;
  --prism-comment: #a0ada0;
  --prism-string: #b56959;
  --prism-literal: #2f8a89;
  --prism-number: #296aa3;
  --prism-keyword: #1c6b48;
  --prism-function: #6c7834;
  --prism-boolean: #1c6b48;
  --prism-constant: #a65e2b;
  --prism-deleted: #a14f55;
  --prism-class: #2993a3;
  --prism-builtin: #ab5959;
  --prism-property: #b58451;
  --prism-namespace: #b05a78;
  --prism-punctuation: #8e8f8b;
  --prism-decorator: #bd8f8f;
  --prism-regex: #ab5e3f;
  --prism-json-property: #698c96
}

html.dark {
  --prism-foreground: #d4cfbf;
  --prism-background: #161b22;
  --prism-comment: #758575;
  --prism-string: #d48372;
  --prism-literal: #429988;
  --prism-keyword: #4d9375;
  --prism-boolean: #1c6b48;
  --prism-number: #6394bf;
  --prism-variable: #c2b36e;
  --prism-function: #a1b567;
  --prism-deleted: #a14f55;
  --prism-class: #54b1bf;
  --prism-builtin: #e0a569;
  --prism-property: #dd8e6e;
  --prism-namespace: #db889a;
  --prism-punctuation: #858585;
  --prism-decorator: #bd8f8f;
  --prism-regex: #ab5e3f;
  --prism-json-property: #6b8b9e;
  --prism-line-number: #888888;
  --prism-line-number-gutter: #eeeeee;
  --prism-line-highlight-background: #444444;
  --prism-selection-background: #444444
}

.markdown-body {
  --fg: #555;
  --fg-deep: #222;
  --fg-deeper: #000;
  color: var(--fg);
}

.markdown-body a {
  font-weight: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(125, 125, 125, .3);
  transition: border .3s ease-in-out;
}

.markdown-body a:hover {
  border-bottom: 1px solid var(--fg);
}

.markdown-body a code {
  color: inherit
}

.markdown-body hr {
  width: 50px;
  margin: 2em auto
}

html.dark .markdown-body {
  --fg: #bbb;
  --fg-deep: #ddd;
  --fg-deeper: #fff
}

.markdown-body blockquote {
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
  padding: .6em 1.2em;
  opacity: .8
}

.markdown-body blockquote>:first-child {
  margin-top: 0
}

.markdown-body blockquote>:last-child {
  margin-bottom: 0
}

.markdown-body blockquote p:first-of-type:before {
  content: none
}

.markdown-body blockquote p:first-of-type:after {
  content: none
}

